<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"eares-front","layout":{"type":"constrained","contentSize":"1200px"}} -->
<main class="wp-block-group eares-front">
	<!-- wp:pattern {"slug":"eares/hero"} /-->
	<!-- wp:pattern {"slug":"eares/pinned"} /-->
	<!-- wp:pattern {"slug":"eares/bulletin"} /-->
	<!-- wp:pattern {"slug":"eares/about"} /-->
	<!-- wp:pattern {"slug":"eares/membership-cta"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
