<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"eares-single","layout":{"type":"constrained","contentSize":"1200px"}} -->
<main class="wp-block-group eares-single">
	<!-- wp:group {"className":"eares-page-head","layout":{"type":"constrained","contentSize":"1200px"}} -->
	<div class="wp-block-group eares-page-head">
		<!-- wp:post-title {"level":1} /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:post-featured-image {"align":"wide","aspectRatio":"21/9","sizeSlug":"large"} /-->
	<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"1200px"}} /-->
	<!-- wp:spacer {"height":"var:preset|spacing|60"} -->
	<div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
